<div class="page">
  <img src="./assets/img/background-tariffs.png" alt="фоновая картинка сугробы снега" class="positive-is__background">



  <div class="pageContent">
    <section class="">
      <div class="tariff__header">
        <h2 class="tariff__title" >Тарифы</h2>
      </div>
      <div class="tariff__container">

        <div class="tariff-item">

          <h3 class="tariff-item__title">Лайт</h3>
          <p class="tariff-item__subtitle">Если хотите по лайту!</p>
          <img src="./assets/img/Icon/tariff-light.png" class="tariff-item__img" alt="лист">

          <p class="tariff-item__price">10 000 ₽</p>
          <ul class="tariff-item__advantages">
            <li class=""><img src="./assets/img/Icon/Plus.svg" class="tariff-item__icon" alt="иконка плюс">  Трансфер</li>
            <li class=""><img src="./assets/img/Icon/Plus.svg" class="tariff-item__icon" alt="иконка плюс">Cкипасс 5 часов</li>
          </ul>
          <div class="button__background">
            <button class="tariff-item__button" >ЗАБРОНИРОВАТЬ</button>
          </div>
        </div>

        <div class="tariff-item tariff-item_accent">

          <div class="clientСhoice">
            <img src="./assets/img/Icon/Heart.svg" class="tariff-item__icon" alt="иконка плюс">
            <p class="clientСhoice__text">Выбор клиентов</p>
          </div>
          <h3 class="tariff-item__title">Стандарт</h3>
          <p class="tariff-item__subtitle">То что нужно!</p>
          <img src="./assets/img/Icon/logo-tariff.png" class="tariff-item__img" alt="логотип">

          <p class="tariff-item__price">15 000 ₽</p>
          <ul class="tariff-item__advantages">
            <li class=""><img src="./assets/img/Icon/Plus-accent.svg" class="tariff-item__icon" alt="иконка плюс">  Трансфер</li>
            <li class=""><img src="./assets/img/Icon/Plus-accent.svg" class="tariff-item__icon" alt="иконка плюс">Cкипасс 5 часов</li>
            <li class=""><img src="./assets/img/Icon/Plus-accent.svg" class="tariff-item__icon" alt="иконка плюс">Завтрак</li>
            <li class=""><img src="./assets/img/Icon/Plus-accent.svg" class="tariff-item__icon" alt="иконка плюс">Страховка</li>
            <li class=""><img src="./assets/img/Icon/Plus-accent.svg" class="tariff-item__icon" alt="иконка плюс">Выбор места в автобусе</li>
          </ul>
          <div class="button__background">
            <button class="tariff-item__button" >ЗАБРОНИРОВАТЬ</button>
          </div>
        </div>

        <div class="tariff-item">

          <h3 class="tariff-item__title">VIP <img src="./assets/img/Icon/Star.svg" alt="звездочка"></h3>
          <p class="tariff-item__subtitle">Для королей этого мира</p>
          <img src="./assets/img/Icon/crown.png" class="tariff-item__img" alt="корона">

          <p class="tariff-item__price">22 000 ₽</p>
          <ul class="tariff-item__advantages">


            <li class=""><img src="./assets/img/Icon/Plus.svg" class="tariff-item__icon" alt="иконка плюс">  Трансфер Mersedes V-class <br> (6 мест)</li>
            <li class=""><img src="./assets/img/Icon/Plus.svg" class="tariff-item__icon" alt="иконка плюс">Cкипасс 5 часов</li>
            <li class=""><img src="./assets/img/Icon/Plus.svg" class="tariff-item__icon" alt="иконка плюс">  Завтрак</li>
            <li class=""><img src="./assets/img/Icon/Plus.svg" class="tariff-item__icon" alt="иконка плюс">  Страховка</li>
            <li class=""><img src="./assets/img/Icon/Plus.svg" class="tariff-item__icon" alt="иконка плюс">  Забор от дома</li>
            <li class=""><img src="./assets/img/Icon/Plus.svg" class="tariff-item__icon" alt="иконка плюс">  Прохладительные напитки</li>
          </ul>
          <div class="button__background">
            <button class="tariff-item__button" >ЗАБРОНИРОВАТЬ</button>
          </div>
        </div>

      </div>


    </section>
  </div>




</div>
