<section class="section-header">
  <div class="background__mobile" *ngIf="mobule" (click)="mobule=!mobule"></div>
  <header class="header">
    <div class="header__container">
      <img src="./assets/img/logo.png" alt="логотип" class="header__logo" [routerLink]="['/']">
      <nav class="header__nav">

        <a  (click)="scrollTo($event)" href="#ourTrip" class="header__link">Наши поездки</a>
        <a href="#review" (click)="scrollTo($event)" class="header__link">Отзывы</a>
        <a href="#positiveIs"  (click)="scrollTo($event)" class="header__link">Наши преимущества</a>
        <a  href="#photogallery"  (click)="scrollTo($event)" class="header__link">Фотогалерея</a>

      </nav>

      <ul class="header__links">
        <li><a href="#"><img src="./assets/img/Icon/vk-2.svg" alt="vk" class="header__icon"></a></li>
        <li><a href="#"><img src="./assets/img/Icon/instagram.svg" alt="instagram" class="header__icon"></a></li>
        <li><a href="#"><img src="./assets/img/Icon/telegram.svg" alt="telegram" class="header__icon"></a></li>
      </ul>

      <div class="header__tel">
        <a href="tel:+79999999999" class="header__number">+7 (999) 999-99-99</a>
        <p class="header__message">(Telegram / WhatsApp / Viber)</p>
      </div>

      <img src="./assets/img/Icon/menu-button.svg" alt="иконка меню" class="header__message"(click)="mobule=!mobule">

    </div>

    <div class="header__container-mobule" [class.header__container-mobule_active]="mobule">
      <nav class="header__nav">
        <a href="#ourTrip" (click)="scrollTo($event)"  class="header__link" >Наши поездки</a>
        <a href="#review" (click)="scrollTo($event)"  class="header__link">Отзывы</a>
        <a href="#positiveIs" (click)="scrollTo($event)" class="header__link">Наши преимущества</a>
        <a href="#photogallery"   (click)="scrollTo($event)" class="header__link">Фотогалерея</a>
      </nav>

      <ul class="header__links">
        <li ><a href="#"><img src="./assets/img/Icon/vk-2.svg" alt="vk" class="header__icon"></a></li>
        <li ><a href="#"><img src="./assets/img/Icon/instagram.svg" alt="instagram" class="header__icon"></a></li>
        <li ><a href="#"><img src="./assets/img/Icon/telegram.svg" alt="telegram" class="header__icon"></a></li>
      </ul>
    </div>

  </header>


</section>

