@import "../../assets/styles/variables.scss";
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0px auto;
}

.header__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% - 200px - 140px);
  grid-area: nav;
}

.header__link{
  @include mainFont;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;

  color: $fontColor;
  margin-right: 30px;
  margin-bottom: 10px;
}
.header__link_active{
  @include mainFont;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-bottom: 1px solid $highlightColor;

  color: $highlightColor;
}
.header__number{
  @include mainFont;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $mainColor;
  margin: 0px;
  margin-right: 10px;
  grid-area: number;
}
.header__logo{
  border-radius: 50%;
  object-fit: cover;
  grid-area: logo;
}
@media screen and (max-width: 780px){
  .header__link{
    font-size: 12px;
    line-height: 14px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 650px){
  .header{
    flex-direction: column;
    .header__nav{
      width: 100%;
    }
    .header__number{
      margin-left: 10px;
    }
  }
  .header__logo{
    margin-left: 10px;
  }
}
