<section class="section-header" [class.section-header_scroll]="showScroll"
[class.header_mobule_active]="mobule" >
  <div class="background__mobile" *ngIf="mobule" (click)="mobule=!mobule"></div>
  <header class="header">
    <div class="header__container">

      <picture class="header__logo">
        <source srcset="./assets/images/logo/logo-big_a1b.webp" type="image/webp">
        <img  width="106px" height="106px"
            src="./assets/images/logo/logo-big.png"
            [routerLink]="['/']"
            alt="логтип positive">
      </picture>

      <nav class="header__nav">

        <a  (click)="scrollTo($event)"  data-href="/trips" data-anchor="ourTrip" class="header__link">Наши поездки</a>
        <a [routerLink]="['/rent']"  [queryParams]="{'season':season}"  class="header__link">Прокат снаряжения</a>
        <a  (click)="scrollTo($event)"   data-href="/trips" data-anchor="photogallery" class="header__link">Фотогалерея</a>
        <!-- <a href="#review" (click)="scrollTo($event)" class="header__link">Отзывы</a> -->
        <a  (click)="scrollTo($event)"   data-href="/trips" data-anchor="review" class="header__link">Отзывы</a>

      </nav>
      <div class="header__tel">
        <a href="tel:+79226999898" class="header__number">+7 (922) 699-98-98</a>
        <p class="header__container-message">

          <a href="https://vk.com/pozitiv74" target="_blank">
            <img width="30px" height="30px" src="./assets/images/soc-icon/vk.svg" alt="vk" class="header__icon"></a>

          <a href="https://www.instagram.com/pozitivtour/" target="_blank">
            <img width="30px" height="30px" src="./assets/images/soc-icon/instagram.svg" alt="instagram" class="header__icon"></a>

          <a href="https://t.me/pozitivtour" target="_blank">
            <img width="30px" height="30px" src="./assets/images/soc-icon/telegram.svg" alt="telegram" class="header__icon"></a>

          <a href="https://wa.me/79226999898" target="_blank">
            <img width="30px" height="30px"  src="./assets/images/soc-icon/whatsapp.svg" class="header__icon" alt="whatsapp"></a>

          <a href="viber://chat?number=79226999898" target="_blank">
            <img width="30px" height="30px" src="./assets/images/soc-icon/viber.svg" alt="viber" class="header__icon"></a>

      </div>
      <img width="20px" height="25px" src="./assets/images/Icon/menu-button.svg" alt="иконка меню" class="header__menu"(click)="mobule=!mobule">

    </div>

    <div class="header__container-mobule">
      <nav class="header__nav">
        <a (click)="scrollTo($event)" data-href="/trips" data-anchor="ourTrip" class="header__link">Наши поездки</a>
        <a [routerLink]="['/rent']"  [queryParams]="{'season':season}"  class="header__link">Прокат снаряжения</a>
        <a  (click)="scrollTo($event)"   data-href="/trips" data-anchor="photogallery" class="header__link">Фотогалерея</a>
        <a  (click)="scrollTo($event)"   data-href="/trips" data-anchor="review" class="header__link">Отзывы</a>
      </nav>

    </div>

  </header>

</section>

