<footer class="footer">
  <div class="footer__header">
    <h2 class="footer__title" id="footer">Контакты</h2>
  </div>
  <div class="footer__container">
    <nav class="footer__nav">
      <a href="tel:+79999999999" class="footer__link">+7 (999) 999-99-99</a>
      <a href="#" class="footer__link">nezovitin@ya.ru</a>
      <p class="footer__subtitle">Присоединяйтесь в соц. сетях:</p>
      <ul class="footer__links">

        <li><a href="#"><img src="./assets/img/Icon/facebook.svg" alt="facebook" class="footer__link"></a></li>
        <li><a href="#"><img src="./assets/img/Icon/vk-2.svg" alt="vk" class="footer__link"></a></li>
        <li><a href="#"><img src="./assets/img/Icon/instagram.svg" alt="instagram" class="footer__link"></a></li>
        <li><a href="#"><img src="./assets/img/Icon/telegram.svg" alt="telegram" class="footer__link"></a></li>
        <li><a href="#"><img src="./assets/img/Icon/youtube.svg" alt="youtube" class="footer__link"></a></li>
      </ul>
    </nav>

    <form class="footer__form" ction="send.php" method="post" [formGroup]="form" (ngSubmit)="submit()">

      <h3 class="form__title">Оставьте заявку</h3>
      <p class="form__subtitle">и наш менеджер свяжется с Вами
        в течение 5 минут</p>

      <input class="form__input" type="text" name="name"
      placeholder="Введите свое имя" formControlName="name" required>
      <input [textMask]="{mask: mask}"  class="form__input form__input_tel"  name="tel"
      placeholder="+7(___) ___-__-__"  formControlName="tel" required >
      <button class="form__button" type="submit" [disabled]="form.invalid">ОТПРАВИТЬ</button>

      <p class="form__text">Отправляя заявку, вы даете согласие
        на обработку персональных данных</p>
    </form>



  </div>
  <img src="./assets/img/logo.png" alt="логтип positive" class="footer__logo" [routerLink]="['/']">
</footer>
