@import "../../assets/styles/variables.scss";

.page{
  width: 100%;
  position: relative;
  overflow: hidden;
}
.pageContent{
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0px auto;
}


.trip-info__header{
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.trip-info__title{
  @include titleFont;
  font-size: 48px;
  line-height: 115.75%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $mainColor;
  margin-left: 23px;
}
.trip-info__arrow{
  width: 51px;
  height: 51px;
}

.trip-info__container{
  display: flex;
}
.img-container{
  margin-right: 30px;
}

.trip-info__img-background{
  -webkit-box-shadow: inset 0px 0px 0px 27px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 0px 27px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 0px 27px rgba(255, 255, 255, 0.5);
  border-radius: 32px 0px;
}
.trip-info__img{
  width: 458px;
  height: 434px;
  object-fit: cover;
  position: relative;
  z-index: -1;
  border-radius: 32px 0px;

}
.trip-info__img-small{
  margin-top: 13px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 10px;
  &:last-of-type{
    margin-right: 0px;
  }
}
.trip-info__img-small_active{
  border: 2px solid #F1A22C;
}
.trip-info__text{
  max-width: 555px;
  width: 100%;

  @include mainFont;
  font-size: 16px;
  line-height: 115.75%;
  color: #828282;
}
.trip-info__icons{
  margin-top: 45px;
  list-style: none;
  @include mainFont;
  font-size: 18px;
  line-height: 115.75%;
  color: #2D2D2D;
  padding: 0px;
  li{
    display: flex;
    align-items: center;
  }
  .trip-info__icon{
    margin-right: 10px;
  }
}
.trip-info__reserve{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.trip-info__button{
  width: 275.8px;
  height: 77.57px;
  border: none;
  background: linear-gradient(184.46deg,$highlightColor 3.39%, $highlightColor 96.19%);
  box-shadow: 0px 2.75659px 0px $highlightColor;
  border-radius: 90px;
  margin: 20px 0px 20px;

  &:focus {outline:none} // убрала рамку при нажатии

  @include mainFont;
  font-size: 14.2642px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #FFFFFF;
  text-shadow: 0px -1.2183px 2.4366px #C17B11;
}
.trip-info__price{
  @include mainFont;
  font-size: 14px;
  line-height: 115.75%;
  color: #A8A8A8;
  margin: 0px;
}
.trip-info__price-value{
  @include mainFont;
  font-size: 36px;
  line-height: 115.75%;
  color: #241534;
  margin: 0px;
  margin-top: 10px;
  margin-right: 45px;
}

.travel-plan{
  margin-top: 100px;
  display: flex;
  margin-bottom: 60px;
}
.travel-plan__title{
  @include mainFont;
  font-size: 36px;
  line-height: 115.75%;
  color: #241534;
  margin: 0px 0px 20px;
}
.travel-plan__text{
  @include mainFont;
  font-size: 16px;
  line-height: 115.75%;

  width: 100%;
  max-width: 555px;

  color: #828282;
}
.travel-plan__img{
  width: 60%;
  max-width: 550px;
  height: 325px;
  object-fit: cover;
  position: relative;
  border-radius: 5px;
  margin-left: 30px;
}

@media screen and (max-width: 870px){
  .trip-info__container{
    flex-direction: column;
  }
  .img-container{
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .trip-info__img{
    width: 100%;
    height: 100%;
  }
  .trip-info__discription{
    display: grid;
  }
  .trip-info__icons{
    margin-top: 20px;
    font-size: 16px;
  }
  .travel-plan{
    margin-top: 40px;
    flex-direction: column-reverse;
    margin-bottom: 60px;
  }
  .travel-plan__img{
    width: 100%;
    height: 100%;
    max-width: 870px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .travel-plan__title{
    font-size: 32px;
  }
}
@media screen and (max-width: 550px){
  .trip-info__img-small{
    width: calc(100% / 5 - 5px);
    height: 100%;
    margin-right: 5px;
    box-sizing: border-box;
  }
  .trip-info__icons{
    font-size: 14px;
  }
  .trip-info__text{
    font-size: 14px;
  }
  .travel-plan__text{
    font-size: 14px;
  }
  .travel-plan__title{
    font-size: 24px;
  }
}




@media screen and (max-width: 700px){
  .trip-info__title{
    font-size: 32px;
  }
  .trip-info__header{
    padding: 0px;
    margin: 20px 0px;
  }

}
@media screen and (max-width: 450px){
  .trip-info__title{
    font-size: 28px;
  }
  .trip-info__header{
    margin: 20px 0px;
  }
}

@media screen and (max-width: 1280px){
  .page{
    box-sizing: border-box;
    padding: 0px 80px;
  }
}
@media screen and (max-width: 1040px){
  .page{
    padding: 0px 40px;
  }
}
@media screen and (max-width: 500px){

  .page{
    padding: 0px 20px;
  }
  .trip-info__button{
    width: 180px;
    height: 40px;
  }
}
