<div class="main">
  <app-header [season]="season"></app-header>
  <div class="main__contant">

    <div class="loading loading_trip-info" *ngIf="!readyForWork">
      <picture class="loading__pulse">
        <source srcset="./assets/images/logo/logo-big_a1b.webp" type="image/webp">
        <img  width="106px" height="106px" src="./assets/images/logo/logo-big.png" alt="логтип positive">
      </picture>

    </div>

    <!-- content start -->
    <div class="page" id="tripUp" *ngIf="readyForWork">
      <div class="pageContent">
        <section class="trip-info">
          <div class="trip-info__header">
            <a class="trip-info__link-button">
              <svg (click)="goBack($event)" class="trip-info__arrow" alt="стрелка влево" width="74" height="72" viewBox="0 0 74 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M50.1224 59.2716C51.1232 58.3071 51.1301 56.7434 50.1156 55.7788L35.1138 41.4848L34.8488 41.2646C33.8348 40.5308 32.3854 40.6075 31.4648 41.4947C30.9661 41.9754 30.7116 42.6074 30.7116 43.2362C30.7116 43.8683 30.9661 44.5036 31.4717 44.9843L46.4735 59.2815L46.7385 59.5017C47.7525 60.2355 49.2019 60.1588 50.1224 59.2716ZM50.3482 15.965C51.1223 14.9969 51.0401 13.6092 50.1227 12.725C49.1184 11.7605 47.4848 11.7572 46.4737 12.7217L23.8851 34.2516L23.6532 34.5038C23.3017 34.943 23.125 35.4702 23.125 35.9996C23.125 36.6284 23.3795 37.2605 23.8782 37.7411C24.8824 38.709 26.516 38.7123 27.5272 37.7477L50.1158 16.2179L50.3482 15.965Z" fill="#B7B7B7"/>
              </svg>
            </a>
            <h2 class="trip-info__title" >{{trip.title}}</h2>
          </div>

          <div class="trip-info__container">
            <div class="img-container">
              <div class="trip-info__img-background">
                <img width="453px" height="434px" src="{{trip.photos[numberActivePhoto].large}}" alt="фото поездки" class="trip-info__img">
              </div>
              <img width="80px" height="80px"  *ngFor="let item of trip.photos; let i = index" (click)="changeActivePhoto(i)"
              [class.trip-info__img-small_active] ="i===numberActivePhoto"
              src="{{item.small}}" alt="фото поездки"  class="trip-info__img-small">
            </div>

            <div class="trip-info__discription">
              <p class="trip-info__text" [innerHtml]="trip.description"></p>
              <ul class="trip-info__icons">
                <li>
                  <img width="32px" height="32px" src="/assets/images/Icon/Calendar_for_trip.svg" alt="иконка календаря" class="trip-info__icon">
                  {{trip.date}}
                </li>
                <li>
                  <img width="32px" height="32px" src="/assets/images/Icon/Time Circle.svg" alt="иконка часов" class="trip-info__icon">
                  {{trip.time}}
                </li>
                <li>
                  <img width="32px" height="32px" src="/assets/images/Icon/Discovery_for_trip.svg" alt="иконка компас" class="trip-info__icon">
                  {{trip.place}}
                </li>
              </ul>
              <div class="trip-info__reserve">
                <div>
                  <p class="trip-info__price">Цена:</p>
                  <p class="trip-info__price-value">{{trip.price}} ₽</p>
                </div>
                <div class="button__background">
                  <button class="trip-info__button"  (click)="openPopup('light')">ЗАБРОНИРОВАТЬ</button>
                </div>
              </div>
            </div>
          </div>
          <section class="travel-plan">
            <div>
              <h3 class="travel-plan__title">План поездки</h3>
              <p class="travel-plan__text" [innerHtml]="trip.travelPlan"></p>
            </div>
            <div class="travel-plan__img">
              <img width="650px" height="504px" src="{{trip.imgForTravelPlan.large}}" alt="фото поездки" class="">
            </div>
          </section>


        </section>
      </div>
    </div>


    <!-- ТАРИФЫ -->
    <!-- <app-tariff [trip]="trip" *ngIf="readyForWork" [season] = "season"></app-tariff> -->
    <!-- END ТАРИФЫ -->

    <!-- VIDEO -->
    <div class="page " *ngIf="readyForWork">
      <div class="pageContent">
        <app-trip-video *ngIf="readyForWork && trip.video" [video]="this.trip.video"></app-trip-video>
      </div>
    </div>
    <!-- END VIDEO -->



    <!-- content end -->
    <!-- footer start -->
    <div class="page">
      <div class="pageContent">
        <app-footer></app-footer>
        <!-- фоновые картинки footer -->
        <picture *ngIf="season=='summer'" class="page__background_footer lazy-image">
          <source media="(min-width: 1600px)" data-srcset="./assets/images/background/back-footer-summer_065.webp" type="image/webp">
          <source media="(min-width: 1040px)" data-srcset="./assets/images/background/back-footer-summer_d1d.webp" type="image/webp">
          <source media="(min-width: 600px)" data-srcset="./assets/images/background/back-footer-summer_bf9.webp" type="image/webp">
          <source data-srcset="./assets/images/background/back-footer-summer_b51.webp" type="image/webp">
          <img width="1980px" height="1080px"
              src="./assets/images/background/back-footer-summer_4be.jpg"
              data-srcset="./assets/images/background/back-footer-summer_4be.jpg"
              srcset="data:image/jpeg;base64,/9j/2wBDAAUDBAQEAwUEBAQFBQUGBwwIBwcHBw8LCwkMEQ8SEhEPERETFhwXExQaFRERGCEYGh0dHx8fExciJCIeJBweHx7/2wBDAQUFBQcGBw4ICA4eFBEUHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh7/wAARCAAXACgDASIAAhEBAxEB/8QAGgABAAIDAQAAAAAAAAAAAAAAAAIDBQcIAf/EACcQAAEDAwQBAwUAAAAAAAAAAAECAwQAERIFBgchQRMxUSIzQmGB/8QAGQEAAwADAAAAAAAAAAAAAAAAAAEDAgQF/8QAIBEAAgICAQUBAAAAAAAAAAAAAAECAxEhEgUTFDFx0f/aAAwDAQACEQMRAD8A7LpWsdy8lTIO/wDU9rwtNC16VEbmOkgr9dpZRkRb7eAJPd8uh1Wyo7inWQ4tpTRP4qIuB4vageNZLKUqDrzTISXXEN5GwyUBc/HdAidK8BBFwQR+qUAcFK5H1SZNdmTEylTfSDKpCHylxTWQukqBuRe3RNWzucN0NMFK9Q1NAUMsRKUe79Ad2telK51ttsIxkpvfz8LOEWksCLzruktZyNa1nIpIXhJ69wL/AD5/lYydyfPflLkFzUZUlK8wuRKUfqt83PjzSlay6jfHSZh2IP2ZNnnLdMRj0mZTjbBTjipal3B6t7gilKVDyb3vmy3CC1g//9k="
              alt="фоновая картинка горы">
        </picture>
        <picture *ngIf="season=='winter'"
        class="page__background_footer page__background_footer-winter lazy-image">
            <source media="(min-width: 1600px)" data-srcset="./assets/images/background/back-footer-winter_0e0.webp" type="image/webp">
            <source media="(min-width: 1040px)" data-srcset="./assets/images/background/back-footer-winter_7c9.webp" type="image/webp">
            <source media="(min-width: 600px)" data-srcset="./assets/images/background/back-footer-winter_be1.webp" type="image/webp">
            <source data-srcset="./assets/images/background/back-footer-winter_ca8.webp" type="image/webp">
            <img width="1980px" height="1080px"
              src="./assets/images/background/back-footer-winter_0e0_915.png"
              data-srcset="./assets/images/background/back-footer-winter_0e0_915.png"
              srcset="data:image/png;base64,UklGRuABAABXRUJQVlA4WAoAAAAQAAAAJwAAEgAAQUxQSOEAAAABkGJr27JV9yu4NhZVKouq1W0E7pDIDIHoRBZDcI+cObi7Jn/lvo+71IiYAHy7McbC4XNn8BMtvuyMB+DtD/Mor6ta3ZnyAIrmGwHjzY+wFk03Xj2XdNFRs3hZj5YnAHjzFfMVCwy9lJRSkJ5KQdLBQi3gjDEAYJxz1nn0XpIiM6lIxaQcKN0dqwYAY1w5vtwpxSxSpJhFUkxButZe31AG4PrJ1uZE8+B2UKBIfStJ5SC9062j8yV9PYv6bpJK1BdzjDHlFCn+AIkUyRxjpCiSFPUTSfGzX5T6RaP4i7z/bwAAVlA4INgAAAAwBQCdASooABMAPm0ykkckIyGhKrgKAIANiWkAv+2MJuYixl7jr8Vr1i3HzBZ1qt62AAD+/nszJKnSpPhBfkKoVvham7OtPQ2OQvDhlB/+4mJWm2XJuS0OMCHJ5f/vdeD3I6VgRhSH0UGnLK/QsKwoPiw9QT8kaf3tjb2K08f7/speLaVzcrgofJX+i8fUNqy2l3Swfn9EijmCYcxs3R/rU3ZGD6E7WXbUPrG0Qiied9b7ACZADGhuw0osgDwzatyLIn35tOdfXqlmUXJO4DE62YNvJM3QAAA="
              alt="фоновая картинка сноубордист">
        </picture>
        <!-- фоновые картинки footer -->

      </div>
    </div>
    <!-- footer end -->
  </div>
  <!-- кнопка вверх -->
  <app-go-up></app-go-up>
</div>





<!-- ПОПАП РЕГИСТРАЦИЯ  -->

 <div   *ngIf="readyForWork" class="popup popup_edit-profile" [class.popup_is-opened]="bookTrip" (click)="closePopup($event)">
  <div class="popup__content" *ngIf="messageIsSent==1">
    <img width="26px" height="25px" src="./assets/images/Icon/close.svg" alt="Иконка закрытия формы" (click)="bookTrip = false" class="popup__close popup__close_edit-profile">
    <h3 class="popup__title">Забронировать поездку</h3>

    <form class="popup__form popup__form_editProfile" name="editProfile" [formGroup]="formBook"  #formBookNative action="send.php" method="post" (ngSubmit)="submit()">
        <!-- Hidden Required Fields -->
        <input type="hidden" name="project_name" formControlName="project_name" >
        <input type="hidden" name="admin_email" formControlName="admin_email">
        <input type="hidden" name="form_subject" formControlName="form_subject">

        <input type="hidden" name="trip" formControlName="trip">
        <input type="hidden" name="dateTrip" formControlName="dateTrip">
        <input type="hidden" name="tariff" formControlName="tariff">
        <!-- END Hidden Required Fields -->

        <input class="popup__input" type="text" name="name" placeholder="ФИО" formControlName="name" required>

        <input [textMask]="{mask: mask}"  class="popup__input popup__input_tel"  name="tel" placeholder="+7(___) ___-__-__"  formControlName="tel" required >

        <input class="popup__input popup__input_number" type="number" name="numberPerson" formControlName="numberPerson" required placeholder="количество человек">

        <!-- <input class="popup__input" type="date" name="dateBirth" formControlName="dateBirth" required> -->
        <input [textMask]="{mask: maskDate}" class="popup__input"  name="dateBirth"  placeholder="дата рождения" formControlName="dateBirth" required>


        <input class="popup__input" type="text" name="comment" formControlName="comment" placeholder="Комментарии">

        <div class="button__background button__background_popup">
          <button type="submit" class="tariff-item__button tariff-item__button_popup" [disabled]="formBook.invalid">ЗАБРОНИРОВАТЬ</button>
        </div>
    </form>
  </div>

  <div class="popup__content" *ngIf="messageIsSent==2">
    <img src="./assets/images/Icon/close.svg" alt="Иконка закрытия формы" (click)="bookTrip = false" class="popup__close popup__close_edit-profile">
    <p class="popup__text">Вам нужен прокат оборудования?</p>
    <a href="./rent" class="popup__link_active">ДА</a> <span class="popup__link" (click)="messageIsSent = 3">нет</span>
  </div>

  <div class="popup__content" *ngIf="messageIsSent==3">
    <img src="./assets/images/Icon/close.svg" alt="Иконка закрытия формы" (click)="bookTrip = false" class="popup__close popup__close_edit-profile">

    <h3 class="popup__title">Спасибо, что забронировали поездку!</h3>
    <p class="popup__text">В ближайшее время с вами свяжется наш менеджер и подтвердит бронирование.</p>
  </div>
</div>
