@import "../../assets/styles/variables.scss";
/* autoprefixer grid: autoplace */
.page{
  width: 100%;
  position: relative;
}
.pageContent{
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0px auto;
}
.page_positiveIs{
  margin-bottom: 50px;
}

.positive-is__background{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;

  opacity: 0.3;
  width: 100%;
  top:0px;
  max-height: 900px;
  overflow: hidden;
  object-fit: cover;

  @media screen and (max-width: 1280px){
    &{

      height: 800px;
    }
  }
  @media screen and (max-width: 650px){
    &{
      height: 800px;
    }
  }

}
.trip-info__header{
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.trip-info__title{
  @include titleFont;
  font-size: 48px;
  line-height: 115.75%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $mainColor;
  margin: 0px;
  margin-left: 23px;
}
.trip-info__arrow{
  width: 51px;
  height: 51px;
}

.trip-info__container{
  display: flex;
}
.img-container{
  margin-right: 30px;
}

.trip-info__img-background{
  -webkit-box-shadow: inset 0px 0px 0px 27px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 0px 27px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 0px 27px rgba(255, 255, 255, 0.5);
  border-radius: 32px 0px;
}
.trip-info__img{
  width: 458px;
  height: 434px;
  object-fit: cover;
  position: relative;
  z-index: -1;
  border-radius: 32px 0px;

}
.trip-info__img-small{
  margin-top: 13px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 10px;
  &:last-of-type{
    margin-right: 0px;
  }
  &:hover{
    cursor: pointer;
  }
}
.trip-info__img-small_active{
  border: 2px solid #F1A22C;
}
.trip-info__text{
  max-width: 555px;
  width: 100%;

  @include mainFont;
  font-size: 16px;
  line-height: 115.75%;
  color: #828282;
}
.trip-info__icons{
  margin-top: 45px;
  list-style: none;
  @include mainFont;
  font-size: 18px;
  line-height: 115.75%;
  color: #2D2D2D;
  padding: 0px;
  li{
    display: flex;
    align-items: center;
  }
  .trip-info__icon{
    margin-right: 10px;
  }
}
.trip-info__reserve{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.button__background{
  width: 240.64px;
  height: 77.57px;
  position: relative;
  left: +25px;
  background: linear-gradient(184.46deg, #FAE198 3.39%, #EEBE55 96.19%);
  box-shadow: 0px 22.8983px 65.0195px #F1A22C;
  border-radius: 91.8864px;
  margin: 20px 0px 20px;
  &:hover{
    cursor: pointer;
    .trip-info__button{
      background: linear-gradient(184.46deg, rgb(187,71,35) 3.39%, #ECB21D 96.19%);
    }
  }

  .trip-info__button{
    position: relative;
    left: -25px;
    width: 275.8px;
    height: 77.57px;
    border: none;
    background: linear-gradient(184.46deg, #F1A22C 3.39%, #ECB21D 96.19%);
    box-shadow: 0px 2.75659px 0px #D58C1F;
    border-radius: 91.8864px;
    &:focus {outline:none} // убрала рамку при нажатии

    @include mainFont;
    font-size: 14.2642px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.09em;
    color: #FFFFFF;
    text-shadow: 0px -1.2183px 2.4366px #C17B11;
    &:hover{
      cursor: pointer;
    }


  }
}


.trip-info__price{
  @include mainFont;
  font-size: 14px;
  line-height: 115.75%;
  color: #A8A8A8;
  margin: 0px;
}
.trip-info__price-value{
  @include mainFont;
  font-size: 36px;
  line-height: 115.75%;
  color: #241534;
  margin: 0px;
  margin-top: 10px;
  margin-right: 45px;
}

.travel-plan{
  margin-top: 100px;
  display: flex;
  margin-bottom: 60px;
}
.travel-plan__title{
  @include mainFont;
  font-size: 36px;
  line-height: 115.75%;
  color: #241534;
  margin: 0px 0px 20px;
}
.travel-plan__text{
  @include mainFont;
  font-size: 16px;
  line-height: 115.75%;

  width: 100%;
  max-width: 555px;

  color: #828282;
}
.travel-plan__img{
  width: 60%;
  max-width: 550px;
  height: 325px;
  object-fit: cover;
  position: relative;
  border-radius: 5px;
  margin-left: 30px;
}

@media screen and (max-width: 870px){
  .trip-info__container{
    flex-direction: column;
  }
  .img-container{
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .trip-info__img{
    width: 100%;
    height: 100%;
  }
  .trip-info__discription{
    display: grid;
  }
  .trip-info__icons{
    margin-top: 20px;
    font-size: 16px;
  }
  .travel-plan{
    margin-top: 40px;
    flex-direction: column-reverse;
    margin-bottom: 60px;
  }
  .travel-plan__img{
    width: 100%;
    height: 100%;
    max-width: 870px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .travel-plan__title{
    font-size: 32px;
  }
}


.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}


// // СТИЛИ ДЛЯ ПОПАПА РЕГИСТРАЦИИ

// .popup.popup_is-opened {
//   display: flex;
// }

// .popup {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, .5);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   display: none;
//   z-index: 20;

// }

// .popup__close {
//   width: 26px;
//   position: absolute;
//   top: -26px;
//   right: -26px;
//   cursor: pointer;
//   @media screen and (max-width: 540px) {
//     &{
//       display: none;
//     }
//   }
// }

// .popup__content {
//   width: 430px;
//   // min-height: 330px;
//   background-color: #fff;
//   border-radius: 10px;
//   position: relative;
//   box-sizing: border-box;
//   padding: 34px 36px;
//   @media screen and (max-width: 540px) {
//     &{
//       width: calc(100% - 60px);
//     }
//   }
// }

// .popup__title{
//   @include mainFont;
//   font-weight: bold;
//   font-size: 22px;
//   line-height: 24px;

//   color: #414141;
//   @media screen and (max-width: 540px) {
//     &{
//       font-size: 18px;
//       line-height: 20px;
//     }
//   }
// }
// .popup__text{
//   @include mainFont;
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 18px;
//   margin-bottom: 40px;
//   color: #414141;
// }
// .popup__input {
//   @include mainFont;
//   width: 100%;
//   height: 47px;
//   border: 0;
//   border-bottom: 1px solid rgba(0, 0, 0, .2);
//   font-size: 14px;
//   line-height: 17px;
//   box-sizing: border-box;
//   padding: 5px 6px 13px;
//   margin-bottom: 24px;
//   color:#414141;
//   &:focus {outline:none} // убрала рамку при нажатии
//   &.ng-valid{
//     border-bottom: 1px solid  rgb(241, 162, 44, );
//   }
//   &.popup__input_number{
//     width: 45%;
//     margin-left: 5%;
//   }
//   &.popup__input_tel{
//     width: 50%;
//   }
//   @media screen and (max-width: 540px) {
//     font-size: 12px;
//     line-height: 16px;
//     padding: 5px 6px 5px;
//     margin-bottom: 12px;
//     &.popup__input_number{
//       width: 100%;
//       margin-left: 0%;
//     }
//     &.popup__input_tel{
//       width: 100%;
//     }
//   }
// }
// // убрала стрелки вверх вниз у инпут
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     /* display: none; <- Crashes Chrome on hover */
//     -webkit-appearance: none;
//     margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
// }
// ::placeholder { // стиль для плейсхолдера
//   color:#414141;
// }

// .popup__input:last-of-type {
//   margin-bottom: 0;
// }
// .popup__button{
//   // max-width: 317px;
//   width: 100%;
//   height: 50px;
//   margin-top: 10px;

//   border: none;
//   background: linear-gradient(184.46deg,$highlightColor 3.39%, $highlightColor 96.19%);
//   box-shadow: 0px 2.75659px 0px $highlightColor;
//   border-radius: 90px;
//   margin-bottom: 20px;

//   @include mainFont;
//   font-size: 14.2642px;
//   line-height: 17px;
//   text-align: center;
//   letter-spacing: 0.09em;

//   color: #FFFFFF;
//   text-shadow: 0px -1.2183px 2.4366px #C17B11;
//   &:focus {outline:none} // убрала рамку при нажатии
//   &:hover{
//     cursor: pointer;
//     background: linear-gradient(184.46deg, rgb(187,71,35) 3.39%, #ECB21D 96.19%);
//   }
//   &:disabled{
//     opacity: 0.5;
//   }

// }



// .popup_edit-profile .popup__button
// {
//   font-size: 18px;
//   line-height: 22px;
// }



@media screen and (max-width: 550px){
  .trip-info__img-small{
    width: calc(100% / 5 - 5px);
    height: 100%;
    margin-right: 5px;
    box-sizing: border-box;
  }
  .trip-info__icons{
    font-size: 14px;
  }
  .trip-info__text{
    font-size: 14px;
  }
  .travel-plan__text{
    font-size: 14px;
  }
  .travel-plan__title{
    font-size: 24px;
  }
}

@media screen and (max-width: 700px){
  .trip-info__title{
    font-size: 32px;
  }
  .trip-info__header{
    padding: 0px;
    margin: 20px 0px;
  }

}
@media screen and (max-width: 450px){
  .trip-info__title{
    font-size: 28px;
  }
  .trip-info__header{
    margin: 20px 0px;
  }
}

@media screen and (max-width: 1280px){
  .page{
    box-sizing: border-box;
    padding: 0px 80px;
  }
}
@media screen and (max-width: 1040px){
  .page{
    padding: 0px 40px;
  }
}
@media screen and (max-width: 500px){

  .page{
    padding: 0px 20px;
  }
  .button__background{
    width: 145px;
    height: 40px;
    background: linear-gradient(184.46deg, #FAE198 3.39%, #EEBE55 96.19%);
    box-shadow: 0px 22.8983px 65.0195px #F1A22C;
    border-radius: 91.8864px;
    margin: 20px 0px 20px;


    .trip-info__button{
      position: relative;
      left: -15px;
      width: 180px;
      height: 40px;
      font-size: 12px;
      line-height: 14px;
    }
  }
}
