<div class="page">
  <div class="pageContent">
    <section class="trip-info">
      <div class="trip-info__header">
        <svg svg class="review__button" class="trip-info__arrow" alt="стрелка влево" width="74" height="72" viewBox="0 0 74 72" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd" d="M50.1224 59.2716C51.1232 58.3071 51.1301 56.7434 50.1156 55.7788L35.1138 41.4848L34.8488 41.2646C33.8348 40.5308 32.3854 40.6075 31.4648 41.4947C30.9661 41.9754 30.7116 42.6074 30.7116 43.2362C30.7116 43.8683 30.9661 44.5036 31.4717 44.9843L46.4735 59.2815L46.7385 59.5017C47.7525 60.2355 49.2019 60.1588 50.1224 59.2716ZM50.3482 15.965C51.1223 14.9969 51.0401 13.6092 50.1227 12.725C49.1184 11.7605 47.4848 11.7572 46.4737 12.7217L23.8851 34.2516L23.6532 34.5038C23.3017 34.943 23.125 35.4702 23.125 35.9996C23.125 36.6284 23.3795 37.2605 23.8782 37.7411C24.8824 38.709 26.516 38.7123 27.5272 37.7477L50.1158 16.2179L50.3482 15.965Z" fill="#B7B7B7"/>
       </svg>
        <h2 class="trip-info__title" >Поездка на банное</h2>
      </div>

      <div class="trip-info__container">
        <div class="img-container">
          <div class="trip-info__img-background">
            <img src="../../assets/img/фото поездки.jpg" alt="фото поездки" class="trip-info__img">
          </div>
          <img src="../../assets/img/фото поездки.jpg" alt="фото поездки"  class="trip-info__img-small trip-info__img-small_active">
          <img src="../../assets/img/фото7.jpg" alt="фото поездки" class="trip-info__img-small">
          <img src="../../assets/img/фото7.jpg" alt="фото поездки" class="trip-info__img-small">
          <img src="../../assets/img/фото7.jpg" alt="фото поездки" class="trip-info__img-small">
          <img src="../../assets/img/фото7.jpg" alt="фото поездки" class="trip-info__img-small">
        </div>
        <div class="trip-info__discription">
          <p class="trip-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus nisl, ullamcorper rhoncus odio egestas. Cursus neque netus nulla eu ac. Massa augue duis urna donec. Pharetra, lorem nulla cras malesuada auctor </p>
          <ul class="trip-info__icons">
            <li>
              <img src="../../assets/img/Calendar_for_trip.svg" alt="иконка календаря" class="trip-info__icon">
              23.11.2020 - 27.11.2020
            </li>
            <li>
              <img src="../../assets/img/Time Circle.svg" alt="иконка часов" class="trip-info__icon">
              10:00-17:00
            </li>
            <li>
              <img src="../../assets/img/3 User.svg" alt="иконка user" class="trip-info__icon">
              15 человек
            </li>
            <li>
              <img src="../../assets/img/Discovery.svg" alt="иконка компас" class="trip-info__icon">
              Челябинская обл. Магнитогорск
            </li>
          </ul>
          <div class="trip-info__reserve">
            <div>
              <p class="trip-info__price">Цена:</p>
              <p class="trip-info__price-value">15 000 ₽</p>
            </div>
            <button class="trip-info__button">ЗАБРОНИРОВАТЬ</button>
          </div>
        </div>


      </div>

      <section class="travel-plan">
        <div>
          <h3 class="travel-plan__title">План поездки</h3>
          <p class="travel-plan__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus nisl, ullamcorper rhoncus odio egestas. Cursus neque netus nulla eu ac. Massa augue duis urna donec. Pharetra, lorem nulla cras malesuada auctor tincidunt pretium non ac. Lacus ipsum praesent eu, mi eu phasellus et. Ut ut augue arcu magna vel nunc tellus enim. Vel adipiscing diam convallis turpis. Quis dictum id sit commodo viverra ullamcorper consectetur non ullamcorper.</p>
          <p class="travel-plan__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus nisl, ullamcorper rhoncus odio egestas. Cursus neque netus nulla eu ac. Massa augue duis urna donec. </p>
        </div>


        <img src="../../assets/img/фото2.jpg" alt="фото поездки" class="travel-plan__img">
      </section>
    </section>



  </div>
</div>
