<section class="positive-is" #positiveIs>
  <div class="positive-is__header">
    <!-- <img src="./assets/img/logo.jpg" alt="логотип Позитив" class="positive-is__logo" [routerLink]="['/']"> -->
    <h2 class="positive-is__title" id="positiveIs">Почему выбирают нас:</h2>
  </div>
  <div class="positive-is__container">
    <div class="advantage positive-is__item">
      <img src="./assets/img/positiveIs-background.png" alt="" class="advantage__background">
      <div class="">
        <img src="./assets/img/Icon/Profile.svg" alt="Иконка профиль" class="advantage__icon">
        <div class="advantage__text">индивидуальный подход</div>
      </div>
    </div>
    <div class="advantage positive-is__item">
      <img src="./assets/img/positiveIs-background.png" alt="" class="advantage__background">
      <div class="">
        <img src="./assets/img/Icon/high-five.svg" alt="Иконка компания" class="advantage__icon">
        <div class="advantage__text">дружная компания</div>
      </div>
    </div>
    <div class="advantage positive-is__item">
      <img src="./assets/img/positiveIs-background.png" alt="" class="advantage__background">
      <div class="">
        <img src="./assets/img/Icon/bus.svg" alt="Иконка автобус" class="advantage__icon">
        <div class="advantage__text">комфортный безопасный трансфер</div>
      </div>
    </div>
    <div class="advantage positive-is__item">
      <img src="./assets/img/positiveIs-background.png" alt="" class="advantage__background">
      <div class="">
        <img src="./assets/img/Icon/ski-goggles.svg" alt="Иконка очки" class="advantage__icon">
        <div class="advantage__text">прокат современного снаряжения</div>
      </div>
    </div>
    <div class="advantage positive-is__item">
      <img src="./assets/img/positiveIs-background.png" alt="" class="advantage__background">
      <div class="">
        <img src="./assets/img/Icon/dinner.svg" alt="Иконка ужин" class="advantage__icon">
        <div class="advantage__text">питание в <br>автобусе</div>
      </div>
    </div>
    <div class="advantage positive-is__item">
      <img src="./assets/img/positiveIs-background.png" alt="" class="advantage__background">
      <div class="">
        <img src="./assets/img/Icon/Discovery.svg" alt="Иконка компас" class="advantage__icon">
        <div class="advantage__text">большая география путешествий</div>
      </div>
    </div>
  </div>
</section>


