@import "../../assets/styles/variables.scss";
.positive-is__header{
  margin: 40px 0px;
  display: flex;
  align-items: center;
  margin-bottom: 45px;

}

.positive-is__title{
  @include titleFont;
  font-size: 48px;
  line-height: 115.75%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $mainColor;
  margin-left: 23px;
}

.positive-is{
  position: relative;
}
.positive-is__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
}

.positive-is__logo{
  border-radius: 106px;
}

@media screen and (max-width: 700px){
  .positive-is__title{
    font-size: 32px;
  }
  .positive-is__header{
    padding: 0px;
    margin: 20px 0px;
  }
  .positive-is__container{
    grid-template-columns: 1fr 1fr ;
  }
}
@media screen and (max-width: 450px){
  .positive-is__title{
    font-size: 28px;
  }
  .positive-is__header{
    margin: 20px 0px;
  }
  .positive-is__container{
    grid-template-columns: 1fr ;
  }
  .positive-is__logo{
    width: 80px;
  }
}

