<section class="positive-is" #positiveIs>
  <div class="forlink"  id="positiveIs"></div>
  <div class="positive-is__header">
    <h2 class="positive-is__title">Почему выбирают нас:</h2>
  </div>
  <div class="positive-is__container">
    <div class="advantage positive-is__item">
      <picture class="advantage__background">
        <source srcset="./assets/images/background/back-positive-is-card_242.webp" type="image/webp">
        <img width="175px" height="200px"
          src="./assets/images/background/back-positive-is-card_10e.png"
          alt="фон карточки позитив это">
      </picture>
      <div class="">
        <img src="./assets/images/Icon/Profile.svg" alt="Иконка профиль" class="advantage__icon">
        <div class="advantage__text">индивидуальный подход</div>
      </div>
    </div>
    <div class="advantage positive-is__item">
      <picture class="advantage__background">
        <source srcset="./assets/images/background/back-positive-is-card_242.webp" type="image/webp">
        <img width="175px" height="200px"
          src="./assets/images/background/back-positive-is-card_10e.png"
          alt="фон карточки позитив это">
      </picture>
      <div class="">
        <img src="./assets/images/Icon/high-five.svg" alt="Иконка компания" class="advantage__icon">
        <div class="advantage__text">дружная компания</div>
      </div>
    </div>
    <div class="advantage positive-is__item">
      <picture class="advantage__background">
        <source srcset="./assets/images/background/back-positive-is-card_242.webp" type="image/webp">
        <img width="175px" height="200px"
          src="./assets/images/background/back-positive-is-card_10e.png"
          alt="фон карточки позитив это">
      </picture>
      <div class="">
        <img src="./assets/images/Icon/bus.svg" alt="Иконка автобус" class="advantage__icon">
        <div class="advantage__text">комфортный безопасный трансфер</div>
      </div>
    </div>
    <div class="advantage positive-is__item">
      <picture class="advantage__background">
        <source srcset="./assets/images/background/back-positive-is-card_242.webp" type="image/webp">
        <img width="175px" height="200px"
          src="./assets/images/background/back-positive-is-card_10e.png"
          alt="фон карточки позитив это">
      </picture>
      <div class="">
        <img src="./assets/images/Icon/ski-goggles.svg" alt="Иконка очки" class="advantage__icon">
        <div class="advantage__text">прокат современного снаряжения</div>
      </div>
    </div>
    <div class="advantage positive-is__item">
      <picture class="advantage__background">
        <source srcset="./assets/images/background/back-positive-is-card_242.webp" type="image/webp">
        <img width="175px" height="200px"
          src="./assets/images/background/back-positive-is-card_10e.png"
          alt="фон карточки позитив это">
      </picture>
      <div class="">
        <img src="./assets/images/Icon/dinner.svg" alt="Иконка ужин" class="advantage__icon">
        <div class="advantage__text">питание в <br>автобусе</div>
      </div>
    </div>
    <div class="advantage positive-is__item">
      <picture class="advantage__background">
        <source srcset="./assets/images/background/back-positive-is-card_242.webp" type="image/webp">
        <img width="175px" height="200px"
          src="./assets/images/background/back-positive-is-card_10e.png"
          alt="фон карточки позитив это">
      </picture>
      <div class="">
        <img src="./assets/images/Icon/Discovery.svg" alt="Иконка компас" class="advantage__icon">
        <div class="advantage__text">большая география путешествий</div>
      </div>
    </div>
  </div>
</section>


