@import "../../assets/styles/variables.scss";
/* autoprefixer grid: autoplace */
.trip{
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 70px;
}
.trip_reverse{
  flex-flow: row-reverse;
}
.trip__info{
  padding: 0px 30px;
}
.trip__title{
  @include mainFont;
  font-size: 36px;
  line-height: 115.75%;

  color: $mainColor;
  margin: 0px;
  margin-bottom: 10px;
}
.trip__description{
  @include mainFont;
  font-size: 16px;
  line-height: 115.75%;
  /* or 19px */
  color: $secondaryColor;

  max-width: 555px;
  width: 100%;
  margin-bottom: 35px;
}
.trip__date{
  display: flex;
  align-items: center;
  @include mainFont;
  font-size: 18px;
  line-height: 115.75%;
  color: #2D2D2D;
  .trip__icon{
    margin-right: 15px;
  }
  margin-bottom: 45px;
}

.trip__button{
  width: 211px;
  height: 51px;
  background: linear-gradient(180deg, $highlightColor 0%, #EEBE55 100%);
  box-shadow: 0px 3.22136px 0px #C17B11;
  border-radius: 5.84204px;
  border: none;

  @include mainFont;
  font-size: 11.862px;
  line-height: 148.67%;
  text-align: center;
  letter-spacing: 0.17em;
  color: #FFFFFF;
  text-shadow: 0px -1.48275px 0.741375px rgba(109, 109, 109, 0.25);
  &:hover{
    background: linear-gradient(184.46deg, rgb(187,71,35) 3.39%, #ECB21D 96.19%);
    cursor: pointer;
  }
}

* {
  margin: 0;
  padding: 0;
}

.trip__img-background{
  -webkit-box-shadow: inset 0px 0px 0px 27px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 0px 27px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 0px 27px rgba(255, 255, 255, 0.5);
  border-radius: 32px 0px;
}
.trip__img{
  width: 360px;
  height: 341px;
  object-fit: cover;
  position: relative;
  z-index: -1;
  border-radius: 32px 0px;
}
.trip__price{
  @include mainFont;
  font-size: 14px;
  line-height: 115.75%;
  color: #A8A8A8;
  margin: 0px;
}
.trip__price-value{
  @include mainFont;
  font-size: 36px;
  line-height: 115.75%;
  color: #241534;
  margin: 0px;
  margin-top: 10px;
  margin-right: 45px;
  margin-bottom: 10px;
}
@media screen and (max-width: 780px){
  .trip{
    display: flex;
    flex-direction: column;
    .trip__img{
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 600px){
  .trip__title{
    margin-top: 20px;
    font-size: 32px;
  }
  .trip__description{
    font-size: 14px;
    margin-bottom: 20px;
  }
  .trip__date{
    font-size: 16px;
    line-height: 115.75%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px){

  .trip__button{
    width: 180px;
    height: 40px;
  }
  .trip{
    margin-bottom: 40px;
  }

}
