<div class="trip" [class.trip_reverse]="reverseTrip">
  <div class="trip__img-background">
    <img src="../../assets/img/фото поездки.jpg" alt="фото поездки" class="trip__img">
  </div>
  <div class="trip__info">
    <h3 class="trip__title">Поездка на Банное</h3>
    <p class="trip__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus nisl, ullamcorper rhoncus odio egestas. Cursus neque netus nulla eu ac. Massa augue duis urna donec. Pharetra, lorem nulla cras malesuada auctor tincidunt pretium non ac. Lacus ipsum praesent eu, mi eu phasellus et. Ut ut augue arcu magna vel nunc tellus enim. Vel adipiscing diam convallis turpis. Quis dictum id sit commodo viverra ullamcorper consectetur non ullamcorper. </p>
    <div class="trip__date">
      <img src="../../assets/img/Calendar_for_trip.svg" alt="иконка календаря" class="trip__icon">
      <span class="">23.11.2020 - 27.11.2020</span>
    </div>

    <button class="trip__button">ПОДРОБНЕЕ</button>
  </div>
</div>
