<div class="trip" [class.trip_reverse]="trip.reverseTrip" id="{{trip.id}}">
  <div class="trip__img-background">
    <img src="{{trip.mainImg}}" alt="фото поездки" class="trip__img">

  </div>
  <div class="trip__info">
    <h3 class="trip__title">{{trip.title}}</h3>
    <p class="trip__description" [innerHtml]="trip.description"></p>
    <div class="trip__date">
      <img src="./assets/img/Icon/Calendar_for_trip.svg" alt="иконка календаря" class="trip__icon">
      <span class="">{{trip.date}}</span>
    </div>
    <div>
      <p class="trip__price">Цена:</p>
      <p class="trip__price-value">{{trip.price}} ₽</p>
    </div>
    <button class="trip__button" [routerLink]="['/',trip.linkName]">ПОДРОБНЕЕ</button>
  </div>
</div>




