// СТИЛИ ДЛЯ ПОПАПА РЕГИСТРАЦИИ

.popup.popup_is-opened {
  display: flex;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 20;

}

.popup__close {
  width: 26px;
  position: absolute;
  top: 26px;
  right: 26px;
  cursor: pointer;

}

.popup__content {
  width: 430px;
  // min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
  @media screen and (max-width: 540px) {
    &{
      width: calc(100% - 60px);
    }
  }
}

.popup__title{
  @include mainFont;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;

  color: #414141;
  @media screen and (max-width: 540px) {
    &{
      font-size: 22px;
      line-height: 24px;
    }
  }
}
.popup__text{
  @include mainFont;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 40px;
  color: #414141;
}
.popup__input {
  @include mainFont;
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 5px 6px 13px;
  margin-bottom: 24px;
  color:#414141;
  &:focus {outline:none} // убрала рамку при нажатии
  &.ng-valid{
    border-bottom: 1px solid  rgb(241, 162, 44, );
  }
  &.popup__input_number{
    width: 45%;
    margin-left: 5%;
  }
  &.popup__input_tel{
    width: 50%;
  }
  &.popup__input_half{
    width: 50%;
  }
  &.popup__input_second-half{
    width: 45%;
    margin-left: 5%;
  }
  &.popup__input_hide{
    display: none;
  }
  @media screen and (max-width: 540px) {
    font-size: 12px;
    line-height: 16px;
    padding: 5px 6px 5px;
    margin-bottom: 12px;
    &.popup__input_number{
      width: 100%;
      margin-left: 0%;
    }
    &.popup__input_tel{
      width: 100%;
    }
    &.popup__input_half{
      width: 100%;
    }
    &.popup__input_second-half{
      width: 100%;
      margin-left: 0%;
    }
  }
}
// убрала стрелки вверх вниз у инпут
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
::placeholder { // стиль для плейсхолдера
  color:#414141;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.tariffLink{
  position: relative;
  top: -126px;
  @media screen and (max-width: 450px){
    &{
      top: -126px;
    }
  }
}
