@import "../assets/styles/variables.scss";


/* autoprefixer grid: autoplace */
.main{
  position: relative;
  .main__contant{
    position: relative;
    top: 106px;
  }
  @media screen and (max-width: 450px){
    .main__contant{
      top: 80px;
    }
  }
}
.page{
  width: 100%;
  position: relative;
  // overflow: hidden;
}
.page__background{
  width: 100%;
  position: absolute;
  top:0px;
  left: 0px;
  z-index: -1;
}
.page__background_footer{
  width: 100%;
  position: absolute;
  bottom:0px;
  left: 0px;
  z-index: -1;
}
.positive-is__background{
  opacity: 0.3;
  width: 100%;

  overflow: hidden;
  object-fit: cover;

  @media screen and (max-width: 1280px){
    &{
      height: 800px;
    }
  }
  @media screen and (max-width: 650px){
    &{
      height: 800px;
    }
  }
  @media screen and (max-width: 450px){
    &{
      height: 1400px;
    }
  }
}
.pageContent{
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0px auto;
}

@media screen and (max-width: 1280px){
  .page{
    box-sizing: border-box;
    padding: 0px 80px;
  }
}
@media screen and (max-width: 1040px){
  .page{
    padding: 0px 40px;
  }
  .page__background{
    top:100px;
    left: 0px;
  }
}
@media screen and (max-width: 650px){
  .page__background{
    top:170px;
    left: 0px;
  }
}
@media screen and (max-width: 500px){
  .page__background{
    top:230px;
    left: 0px;
  }
  .page{
    padding: 0px 20px;
  }
}
