<div class="page">
  <img src="../assets/img/background.jpg" alt="фоновая картинка сноубордисты" class="page__background">
  <div class="pageContent">
    <app-header></app-header>
    <app-author-tours></app-author-tours>
    <app-our-trip></app-our-trip>
    <!-- <app-photogallery></app-photogallery> Сделаешь, когда будешь знать количество фотографий -->

  </div>
</div>
<div class="page">
  <img src="../assets/img/background-2.png" alt="фоновая картинка сугробы снега" class="page__background positive-is__background">
  <div class="pageContent">
    <app-positive-is #positiveIs></app-positive-is>
    <app-review></app-review>
  </div>
</div>


