<div class="">
  <div class="page">
    <div class="pageContent">
      <app-header></app-header>
    </div>
  </div>
  <router-outlet></router-outlet>


  <div class="page">
    <div class="pageContent">
      <app-footer></app-footer>
      <img src="./assets/img/background-3.png" alt="фоновая картинка сноубордист" class="page__background_footer">
    </div>
  </div>

</div>






<!-- <div class="page">
  <img src="../assets/img/background.jpg" alt="фоновая картинка сноубордисты" class="page__background">
  <div class="pageContent">
    <app-header></app-header>
    <app-author-tours></app-author-tours>
    <app-our-trip></app-our-trip>
    <app-photogallery></app-photogallery>
  </div>
</div>
<div class="page">
  <img src="../assets/img/background-2.png" alt="фоновая картинка сугробы снега" class="page__background positive-is__background">
  <div class="pageContent">
    <app-positive-is #positiveIs></app-positive-is>
    <app-review></app-review>
    <app-footer></app-footer>
    <img src="../assets/img/background-3.png" alt="фоновая картинка сноубордист" class="page__background_footer">
  </div>
</div> -->


