

<div class="main" *ngIf="!isPreview; else preview">
  <app-header></app-header>
  <div class="main__contant">

    <!-- content start -->
    <router-outlet></router-outlet>
    <!-- content end -->

    <!-- footer start -->
    <div class="page">
      <div class="pageContent">
        <app-footer></app-footer>
        <img src="./assets/img/background-3.png" alt="фоновая картинка сноубордист" class="page__background_footer">
      </div>
    </div>
    <!-- footer end -->
  </div>
  <!-- кнопка вверх -->
  <app-go-up></app-go-up>
</div>

<ng-template #preview>
  <router-outlet></router-outlet>
</ng-template>


