<div class="page">
  <div class="background-container">
    <picture>
      <source srcset="{{data.img500}}" media="(max-width: 500px) ">
      <source srcset="{{data.img800}}" media="(max-width: 800px) ">
      <source  srcset="{{data.img1280}}" media="(max-width: 1280px)">
      <img srcset="{{data.img}}" alt="фоновая картинка">
    </picture>

  </div>
  <div class="pageContent">
    <section class="welcome">
      <div>
        <h1 class="welcome__title">{{data.title}}
          <p class="welcome__title_dark">{{data.titleDark}}</p>
        </h1>
        <p class="welcome__subtitle">{{data.subtitle}}</p>
      </div>

      <div class="button__background">
        <button class="welcome__button button">
          <a href="{{data.link}}" class="welcome__link">
            <img *ngIf="data.imgForButton" src="{{data.imgForButton}}" alt="Иконка календаря" class="button__icon">
            {{data.textForButton}}
          </a>
        </button>
      </div>
    </section>
  </div>
</div>


