<section class="review">
  <div class="review__header">
    <img src="../../assets/img/review.svg" alt="Иконка Отзывы">
    <h2 class="review__title" id="review">Отзывы</h2>
  </div>
  <div class="review__container">
    <button class="review__button"> <img src="../../assets/img/Arrow - Right 2 big.svg" alt="стрелка влево"></button>

    <div class="review__background">
      <div class="review__content">
        <img src="../../assets/img/avatar.png" alt="фото пользователя" class="review__avatar">
        <div>
          <p class="review__name">Елена Скворцова</p>
          <p class="review__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus nisl, ullamcorper rhoncus odio egestas. Cursus neque netus nulla eu ac. Massa augue duis urna donec. Pharetra, lorem nulla cras malesuada auctor tincidunt pretium non ac. Lacus ipsum praesent eu, mi eu phasellus et. </p>
          <a href="" class="review__link">
            <img src="../../assets/img/vk.svg" alt="Иконка vk" class="review__icon">Читать отзыв в “Вконтакте
          </a>
        </div>
      </div>
    </div>

    <button class="review__button"> <img src="../../assets/img/Arrow - Right 2 big active.svg" alt="стрелка вправо"></button>
  </div>
</section>
<!-- <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="162px" height="78px" viewBox="0 0 980.000000 711.000000"
 preserveAspectRatio="xMidYMid meet">
<g transform="translate(0.000000,711.000000) scale(0.100000,-0.100000)"
fill="white" stroke="#F1A22C" stroke-width="100px">
<path d="M568 7100 c-165 -28 -287 -89 -399 -200 -96 -95 -138 -168 -160 -278
-25 -133 5 -249 105 -396 107 -158 4157 -5878 4206 -5941 61 -79 147 -147 245
-196 119 -58 189 -74 335 -74 146 0 216 16 335 74 98 49 184 117 245 196 49
63 4099 5784 4206 5941 99 147 130 263 105 396 -21 107 -65 183 -160 278 -94
94 -172 139 -311 182 l-75 23 -4315 1 c-2373 1 -4336 -2 -4362 -6z"/>
</g>
</svg> -->
