<div class="main">
  <app-header [season]="season"></app-header>
  <div class="main__contant">
    <div class="page">
      <div class="pageContent">
        <div class="offer__header">
          <h2 class="offer__title">Договор оферты</h2>
        </div>
        <div class="offer__content">
          <p class="offer__text">г. Челябинск<br/>Дата публикации: 15.11.2021г.</p>
          <h2 class="offer__title-text">1. Общие положения</h2>
          <p class="offer__text">1.1. Настоящие условия продажи (далее также – «Оферта») регулируют порядок приобретения Услуг, предлагаемых к продаже Покупателям на сайте www.pozitivtour74.ru , а также порядок использования сервисов сайта</p>
          <p class="offer__text">1.2. Настоящая Оферта является публичной офертой в соответствии со ст. 435, 437 Гражданского кодекса Российской Федерации. Акцепт настоящих Условий совершается Пользователями и Покупателями в момент размещения Бронирования через сайт, через онлайн-консультанта или через социальные сети.</p>
          <p class="offer__text">1.3. Для целей Оферты используются следующие основные термины и определения:</p>
          <p class="offer__text">Сайт – сайт, расположенный в сети Интернет по адресу: www.pozitivtour74.ru , посредством которого Продавец осуществляет запись и внесение предоплаты по экскурсионным услугам и услугам проката спортивентаря для активного отдыха дистанционным способом.</p>
          <p class="offer__text">Продавец – Индивидуальный предприниматель Жакутов Еркин Нурланович, ОГРНИП 319745600193403,ИНН 741208548498, Юр.адрес: г. Челябинск, ул. Братьев Кашириных, д.115, кв. 61</p>
          <p class="offer__text">Покупатель – полностью дееспособное физическое лицо, имеющее намерение оформить и/или оформляющее Заказ на сайте исключительно для личных, семейных, домашних и иных, не связанных с предпринимательской деятельностью нужд, заключающее договор с Продавцом путем акцепта условий настоящей оферты и оплаты оформленного заказа.</p>
          <p class="offer__text">Пользователь – любой посетитель Сайта, в том числе и Покупатели</p>
          <p class="offer__text">1.4. На сайте предоставляется ряд сервисов, призванных обеспечить простоту, удобство и безопасность бронирования экскурсий, проката спортинвентаря и их оплату.</p>
          <p class="offer__text">1.5. Продавец осуществляет свою деятельность в соответствии с Гражданским кодексом РФ, Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных», Законом РФ от 07.02.1992 г. № 2300-1 «О защите прав потребителей»</p>


          <h2 class="offer__title-text">Оформление Бронирования. Оплата.</h2>
          <p class="offer__text">2.1. Бронирование оформляется Покупателем самостоятельно на сайте</p>
          <p class="offer__text">2.2. При бронировании на сайте Покупатель предоставляет следующую информацию о себе: фамилию, имя, отчество, номер телефона, адрес электронной почты, рост, вес, размер ноги, паспортные данные. <strong>Покупатель не имеет право указывать в форме бронирования данные третьих лиц или заранее ложные данные.</strong> Указание Покупателем псевдонимов/ников и иной недостоверной информации при оформлении бронирования повлечет за собой невозможность надлежащего исполнения Продавцом его обязательств по настоящему Договору по вине Покупателя.</p>
          <p class="offer__text">2.3. Покупатель несет ответственность за достоверность указания своих персональных данных при оформлении заказа.</p>
          <p class="offer__text">2.4. Оформляя бронирование и акцептируя настоящую оферту, Покупатель выражает согласие с тем, что:<br/><br/>
            - данные (в том числе персональные данные) указаны им верно и добровольно;<br/>
            - данные (в том числе персональные данные) передаются в электронной форме по открытым каналам связи сети «Интернет»;<br/>
            - данные (в том числе персональные данные) переданы Продавцу для реализации целей, указанных в настоящей оферте и могут быть переданы третьим лицам, для реализации целей, указанных в настоящей оферте;<br/>
            - данные (в том числе персональные данные) могут быть использованы Продавцом в целях продвижения товаров и услуг, путем осуществления прямых контактов с Покупателем с помощью каналов связи;<br/>
            - данное Покупателем согласие на обработку его регистрационных данных (в том числе персональных данных) является бессрочным и может быть отозвано Покупателем или его законным представителем, подачей письменного заявления, переданного Продавцу по электронной почте pozitiv-tour74@yandex.ru
          </p>
          <p class="offer__text"><strong>2.5. Продавец не несет ответственности за неисполнение обязательств перед Покупателем, если невозможность их надлежащего исполнения обусловлена предоставлением Покупателем неверных сведений, в частности ФИО (фамилия, имя, отчество), контактного телефона.</strong></p>
          <p class="offer__text">2.6. Бронирование завершается внесением предоплаты. Оплата Покупателем или третьим лицом по поручению Покупателя считается акцептом настоящей Оферты.</p>
          <p class="offer__text">2.7. Покупатель считается надлежаще уведомленным по всем вопросам, касающимся исполнения настоящего Договора, с момента направления Продавцом сообщения на телефонный номер и/или электронный адрес, указанные Покупателем при регистрации на Сайте. Продавец не несет ответственности за действия/бездействия и качество услуг Оператора связи Покупателя.</p>
          <p class="offer__text">2.8. Цена на Услуги, указанная на сайте определена в рублях Российской Федерации. Доплата по Бронированию должна быть произведена в срок не позднее дня оказания услуги.</p>
          <p class="offer__text">2.9. Услуги, заказанные на сайте, могут быть оплачены одним из следующих способов:

            - банковской картой Visa или MasterCard на cайте; - QR-кодом, размещенным в нашей группе https://vk.com/pozitiv74<br/>

            - оплата наличным способом или банковской картой в офисе по адресу: г. Челябинск, ул. Братьев Кашириных, 95а.<br/>

            - банковским переводом на реквизиты Продавца: Индивидуальный предприниматель Жакутов Еркин Нурланович Юридический адрес: г. Челябинск, ул. Братьев Кашириных, д.115, кв. 61 Тел.: +7 (922) 699-98-98 ОГРНИП: 319745600193403<br/>

            ИНН: 741208548498

            БИК: 047501602 р/с: 40802810772000044414 Наименование банка: ЧЕЛЯБИНСКОЕ ОТДЕЛЕНИЕ N8597 ПАО СБЕРБАНК

            к/с: 30101810700000000602</p>
          <p class="offer__text">2.10. Датой оплаты считается: при оплате наличными в офисе– дата поступления денежных средств в кассу; при оплате банковским переводом – дата поступления денежных средств на расчетный счет Продавца; при оплате банковской картой на сайте - дата списания денежных средств со счета Покупателя.</p>
          <p class="offer__text">2.11. Залог за прокат одного комплекта снаряжения:<br/><br/>

            - Паспорт или водительское удостоверение + 5 000 р.<br/>

            - Только денежный залог - 12 000 р.<br/>

            - Только паспорт или водительское удостоверение, если вы едете нашим автобусным туром (оборудование доставляется к автобусу).</p>




          <h2 class="offer__title-text">Условия возврата</h2>
          <p class="offer__text">3.1. В случае, если Покупатель, оплатив Услуги, отказался от них менее чем за 2 дня при прокате спортинвентаря и однодневных выездах и менее чем за 6 дней при двух-трехдневных выездах, то предоплата не возвращается. Если Продавец/Покупатель нашли другого Покупателя на замену – то предоплата возвращается в полном объеме.</p>
          <p class="offer__text">3.2. В случае невозможности исполнения обязательств Продавцом по инициативе Продавца – денежные средства возвращаются Покупателю полностью.</p>
          <p class="offer__text">3.3. В дополнение к обстоятельствам, указанным в п. 5.2, Продавец оставляет за собой право отказать в исполнении обязательств по договору Клиенту при следующих обстоятельствах:

            - если Клиент находится в состоянии алкогольного или наркотического опьянения,<br/>

            - если Клиент ведет себя неадекватно и мешает тем самым проведению экскурсии.<br/>

            В этом случае денежные средства клиенту не возвращаются.</p>
          <p class="offer__text">3.4. В случае, если Мероприятие будет отменено в связи с любыми запрещающими действиями государственных органов, то данное обстоятельство стороны признают форс-мажорным. Обязательство Продавца по оказанию услуг прекращается невозможностью исполнения (п. 1 ст. 416 ГК). Фирма не несет ответственности за неисполнение обязательств по договору. Однако, если эти обстоятельства наступят до времени начала мероприятия, то Продавец обязуется возместить Пользователю его затраты в полном объеме (за вычетом затрат понесенных Продавцом расходы на исполнение договора, а также банковскую комиссию за расчет пластиковой картой /возврате денежных средств и/или комиссии платежных систем, через которые была произведена оплата/возврат денежных средств).</p>
          <p class="offer__text">3.5. При возврате Покупателем неисправного, а также в ненадлежащем техническом состоянии оборудования Продавец вправе потребовать от Покупателя оплаты расходов по ремонту такого оборудования. Если при возврате оборудования установлена утрата или его некомплектность, Продавец вправе потребовать от Покупателя оплаты фактических затрат на покупку аналогичного оборудования или их недостающих частей.</p>
          <p class="offer__text">Электронный адрес для направления заявлений и претензий: pozitiv-tour74@yandex.ru</p>



          <h2 class="offer__title-text">4. Пользование сайто</h2>

          <p class="offer__text">4.1. В рамках процесса бронирования на сайте от Покупателя/Пользователя может потребоваться предоставление информации о себе, в том числе персональных данных, контактных данных. Покупатель/Пользователь соглашается, что любая информация, которая предоставляется им в процессе регистрации на сайте, всегда будет точной, достоверной и актуальной.</p>
          <p class="offer__text">4.2. Покупатель/Пользователь настоящим соглашается пользоваться сайтом исключительно в целях, разрешенных: (а) настоящей Офертой; (б) применимым законодательством Российской Федерации и обычаями делового оборота, принятыми в Российской Федерации.</p>
          <p class="offer__text">4.3. Покупатель/Пользователь настоящим соглашается не осуществлять и не предпринимать попыток получить доступ к сайту иным способом, кроме как через интерфейс, предоставленный Продавцом, за исключением случаев, когда такие действия были прямо разрешены Покупателю/Пользователю в соответствии с отдельным соглашением с Продавцом.</p>
          <p class="offer__text">4.4. Покупатель/Пользователь соглашается не осуществлять какую-либо деятельность, которая препятствует работе сайта, соответствующих серверов или сетей, которые связаны с сайтом, либо нарушает порядок функционирования сайта.</p>
          <p class="offer__text">4.5. Покупатель/Пользователь соглашается не воспроизводить, не дублировать, не копировать информацию, содержащуюся на сайте для каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Покупателю/Пользователю в соответствии с отдельным соглашением с Продавцом.</p>
          <p class="offer__text">4.6. Покупатель/Пользователь соглашается с тем, что несет ответственность за любое нарушение обязательств, предусмотренных настоящей Офертой, а также за любые последствия нарушений, включая возмещение причиненных Продавцу убытков.</p>




          <h2 class="offer__title-text">5. Конфиденциальность и персональные данные</h2>

          <p class="offer__text">5.1. Персональные данные Пользователя/Покупателя обрабатывается в соответствии с ФЗ «О персональных данных» № 152-ФЗ.</p>
          <p class="offer__text">5.2. При бронировании на Сайте Пользователь/Покупатель предоставляет следующую информацию: Фамилия, Имя, Отчество, контактный номер телефона, адрес электронной почты, размер ноги, рост, вес.</p>
          <p class="offer__text">5.3. Оформляя бронирование и оплату на сайте, Покупатель/Пользователь дает согласие на обработку своих персональных данных, в целях формирования, обработки Заказов Покупателей/Пользователей, предоставления списков транспортным компаниям, проведения электронных и смс опросов, контроля результатов маркетинговых акций, клиентской поддержки, проведение розыгрышей призов среди Пользователей/ Покупателей, контроля удовлетворенности Пользователя/Покупателя, а также качества услуг, оказываемых Продавцом.</p>
          <p class="offer__text">5.4. Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в том числе передачу третьим лицам, не исключая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
          <p class="offer__text">5.5. Покупатель/Пользователь соглашается с тем, что согласие на обработку персональных данных, выражаемое при регистрации на сайте, не имеет ограниченного срока действия. При этом согласие на использование персональных данных может быть отозвано Покупателем/Пользователем в письменном виде в любой момент после исполнения</p>

        </div>
      </div>
    </div>



  </div>
  <!-- кнопка вверх -->
  <app-go-up></app-go-up>
</div>
