<app-welcome-section [data] = "dataForWelcomeSection"></app-welcome-section>
<div class="page">
  <div class="equipmentRental__background-container">
    <picture class="">
      <img srcset="./assets/img/background/backgroundBrand.png" alt="фоновая картинка">
    </picture>
  </div>
  <div class="pageContent">
    <app-rental-brands></app-rental-brands>
    <app-equipment-container [equipmentSmall]="equipmentSmall" ></app-equipment-container>
    <img src="./assets/img/background/background - mountain.png" alt="картинка горы" class="equipmentContainer__img">
  </div>

</div>
<div class="page">
  <div class="pageContent">
    <app-service-rent></app-service-rent>
  </div>
</div>


