@import "../../assets/styles/variables.scss";
/* autoprefixer grid: autoplace */
.our-trip__header{
  margin: 40px 0px;
  display: flex;
  align-items: center;
}
.forlink{
  position: relative;
  top: -106px;
  @media screen and (max-width: 450px){
    &{
      top: -80px;
    }
  }
}



.our-trip__title{
  @include titleFont;
  font-size: 48px;
  line-height: 115.75%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $mainColor;
  margin: 0px;
  // margin-left: 23px;
}
.our-trip__container{
  display: flex;
  flex-direction: column;
}

.button__background{
  position: relative;
  left: +25px;
  width: 240.64px;
  height: 77.57px;
  background: linear-gradient(184.46deg, #FAE198 3.39%, #EEBE55 96.19%);
  box-shadow: 0px 22.8983px 65.0195px #F1A22C;
  border-radius: 91.8864px;
  margin: 0px auto;
  margin-bottom: 40px;

  &:hover{
    cursor: pointer;
    .button{
      background: linear-gradient(184.46deg, rgb(187,71,35) 3.39%, #ECB21D 96.19%);
    }
  }

  .button{
    &:hover{
      cursor: pointer;
    }
    position: relative;
    left: -25px;
    width: 275.8px;
    height: 77.57px;
    border: none;
    background: linear-gradient(184.46deg, #F1A22C 3.39%, #ECB21D 96.19%);
    box-shadow: 0px 2.75659px 0px #D58C1F;
    border-radius: 91.8864px;

    &:focus {outline:none} // убрала рамку при нажатии

  }
  @media screen and (max-width: 500px){
    &{
      position: relative;
      left: +15px;
      width: 185px;
      height: 50px;
      background: linear-gradient(184.46deg, #FAE198 3.39%, #EEBE55 96.19%);
      box-shadow: 0px 22.8983px 65.0195px #F1A22C;
      border-radius: 91.8864px;

      .button{
        position: relative;
        left: -15px;
        width: 210px;
        height: 50px;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}


.our-trip__button{
  @include mainFont;
  font-size: 16px;
  line-height: 148.67%;
  text-align: center;
  letter-spacing: 0.17em;
  color: #FFFFFF;
  text-shadow: 0px -1.48275px 0.741375px rgba(109, 109, 109, 0.25);

}

@media screen and (max-width: 700px){
  .our-trip__title{
    font-size: 32px;
  }
  .our-trip__header{
    margin: 20px 0px;
  }

}
@media screen and (max-width: 500px){
  .our-trip__title{
    font-size: 28px;
  }
  .our-trip__img{
    width: 80px;
  }
}
