<section class="rental-brands">
  <h2 class="rental-brands__title sectionTitle">бренды нашего проката</h2>
  <div class="rental-brands__container">
    <img src="./assets/img/brand/burton.png" class="rental-brands__img" alt="иконка бренда">
    <img src="./assets/img/brand/burton.png" class="rental-brands__img" alt="иконка бренда">
    <img src="./assets/img/brand/burton.png" class="rental-brands__img" alt="иконка бренда">
    <img src="./assets/img/brand/burton.png" class="rental-brands__img" alt="иконка бренда">
    <img src="./assets/img/brand/burton.png" class="rental-brands__img" alt="иконка бренда">
  </div>
</section>
