<section class="rental-brands">
  <h2 class="rental-brands__title sectionTitle">бренды нашего проката</h2>
  <div class="rental-brands__container">
    <img width="144px" height="156px" src="./assets/images/brand/roxy.png" class="rental-brands__img" alt="иконка бренда">
    <img width="144px" height="156px" src="./assets/images/brand/salomon1.png" class="rental-brands__img" alt="иконка бренда">
    <img width="144px" height="156px" src="./assets/images/brand/burton1.png" class="rental-brands__img " alt="иконка бренда">
    <img width="144px" height="156px" src="./assets/images/brand/head1.png" class="rental-brands__img" alt="иконка бренда">
    <img width="144px" height="156px" src="./assets/images/brand/atomic1.png" class="rental-brands__img" alt="иконка бренда">

  </div>

  <div class="rental-brands__container rental-brands__container_mobile">
    <div class="rental-brands__class">
      <img width="120px" height="136px" src="./assets/images/brand/roxy.png" class="rental-brands__img" alt="иконка бренда">
      <img width="120px" height="136px" src="./assets/images/brand/salomon1.png" class="rental-brands__img" alt="иконка бренда">
    </div>
    <img width="120px" height="136px" src="./assets/images/brand/burton1.png" class="rental-brands__img" alt="иконка бренда">
    <div class="rental-brands__class">
      <img width="120px" height="136px" src="./assets/images/brand/head1.png" class="rental-brands__img" alt="иконка бренда">
      <img width="120px" height="136px" src="./assets/images/brand/atomic1.png" class="rental-brands__img" alt="иконка бренда">
    </div>
  </div>
</section>



