<section class="photogallery">
  <div class="photogallery__header">
    <img src="../../assets/img/camera.jpg" alt="Иконка фотоаппарата">
    <h2 class="photogallery__title" id="photogallery">Фотогалерея</h2>
  </div>
  <div class="photogallery__grid">
    <img src="../../assets/img/фото1.jpg" alt="" class="grid__item item-1">
    <img src="../../assets/img/фото2.jpg" alt="" class="grid__item item-2">
    <img src="../../assets/img/фото3.jpg" alt="" class="grid__item item-3">
    <img src="../../assets/img/фото4.jpg" alt="" class="grid__item item-4">
    <img src="../../assets/img/фото5.jpg" alt="" class="grid__item item-5">
    <img src="../../assets/img/фото6.jpg" alt="" class="grid__item item-6">
    <img src="../../assets/img/фото1.jpg" alt="" class="grid__item item-7">
    <img src="../../assets/img/фото2.jpg" alt="" class="grid__item item-8">
  </div>
  <div class="photogallery__footer">
    <p class="photogallery__ps">Любуйтесь и радуйтесь пейзажами из нашей галлереи</p>
    <div>
      <button class="photogallery__button"> <img src="../../assets/img/Arrow - Right 3.svg" alt="стрелка влево"></button>
      <button class="photogallery__button"> <img src="../../assets/img/Arrow - Right 2.svg" alt="стрелка вправо"></button>
    </div>
  </div>
</section>
