$highlightColor: #F1A22C;
$mainColor: #241534;
$fontColor: #000000;
$secondaryColor: #828282;
$bsckgroundColor:#E5E5E5;


@mixin  mainFont {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
}
@mixin titleFont {
  font-family: Oranienbaum;
  font-style: normal;
  font-weight: normal;
}




