<section class="equipmentContainer">
  <h2 class="sectionTitle equipmentContainer__title">забронировать прокат</h2>

  <div class="equipmentContainer__container">
    <app-equipment *ngFor="let equipment of equipments; let equipmentIndex = index" [equipment]="equipment" [equipmentIndex]="equipmentIndex"></app-equipment>
  </div>

  <div class="equipmentContainer__footer">
    <h3 class="equipmentContainer__downtitle">Залог за прокат одного комплекта снаряжения:</h3>
    <p class="equipmentContainer__text">
      Паспорт или водительское удостоверение + 5 000 р
      <br><br>
      Только денежный залог - 12 000 р
      <br><br>
      Только паспорт или водительско удоствоерение<br>
      Если вы едете нашим автобусным туром
    </p>
  </div>
</section>

