@import "../../assets/styles/variables.scss";
@import "../../assets/styles/sectionTitle/sectionTitle.scss";

.equipmentContainer{
  position: relative;
  margin-top: 100px;
}
.equipmentContainer.equipmentContainer_small{

  .equipmentContainer__container{
    padding: 40px 0px;
    min-width: 100%;
    overflow-x: auto;
    display: flex;
    margin-bottom: 70px;
  }
  ::-webkit-scrollbar-track {
    background-color:white;
  }
  ::-webkit-scrollbar{
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    width: 2px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color:#F1A22C;
  }
  .equipmentContainer__downtitle{
    text-align: left;
  }
}

.equipmentContainer__title{
  margin-bottom: 68px;
}

.equipmentContainer__footer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 100px;

}



.equipmentContainer__downtitle{
  @include mainFontValue (normal, 600, 22px, 115.75%);
  margin: 0px;
  margin-bottom: 20px;
  text-align: right;
  color: #241534;
}
.equipmentContainer__text{
  @include mainFontValue (normal, 500, 16px, 115.75%);
  text-align: right;
  color: #241534;
  }

@media screen and (max-width: 500px){
  .equipmentContainer{
    margin-top: 70px;
  }
  .equipmentContainer__footer{
    margin-bottom: 220px;
  }

}

