<section class="equipmentContainer" [class.equipmentContainer_small]="equipmentSmall" #ourRent>
  <h2 class="sectionTitle equipmentContainer__title">забронировать прокат</h2>

  <div class="equipmentContainer__container">
    <app-equipment *ngFor="let equipment of equipments; let equipmentIndex = index" [equipment]="equipment" [equipmentIndex]="equipmentIndex" [equipmentSmall]="equipmentSmall"></app-equipment>
  </div>

  <div class="equipmentContainer__footer" *ngIf="!equipmentSmall else footerSmall">
    <h3 class="equipmentContainer__downtitle">Залог за прокат одного комплекта снаряжения:</h3>
    <p class="equipmentContainer__text">
      Паспорт или водительское удостоверение + 5 000 р
      <br><br>
      Только денежный залог - 12 000 р
      <br><br>
      Только паспорт или водительское удостоверение, если вы едете нашим автобусным туром
    </p>
  </div>

  <ng-template #footerSmall>
    <h3 class="equipmentContainer__downtitle">*Скидки для тех, кто едет нашим автобусным туром</h3>
  </ng-template>

</section>





